#menu ul{
    list-style-type: none;
    text-align: right;
 } 

 #menu li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
 } 

 #menu li a {
    color: rgb(14, 17, 17);
    text-decoration: none;
}

.menuPrincipal:hover {

    text-decoration: underline;
}

#logo {
    float: left;
}   
   .carousel-inner img {
    
      width: 100%;
      max-height: 500px;
  }
  
  .carousel-inner{
   height: 500;

  }

  #titulo1 {
    margin: 1rem auto;
    width:100%;
    text-align: center;
}

.contenedor {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.elemento {

    margin: 30px;
}

.nombreArticulo{

    text-align: center;
}

.botoncomprar {
    text-align: center;
    margin: auto; display: block;
    padding: 12px;
    color: #616E6E;
    background-color:#BFDCDA;
    border-radius: 10px;
    border: 1px solid;    
       
}

.botoncomprar:hover {
    cursor:pointer;
    opacity: 0.8;
}

