body{
  background-color: rgba(225,225,225,0.4) !important;

}

main{
    margin-top:108px;
}

.encabezado{
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 10;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}
.encabezado img{
  width: 100px;
}

#menu ul{
    list-style-type: none;
    text-align: right;
    margin-top: 35px;
    margin-right: 5px;
 }

 #menu li{
    display: inline;
    text-align: center;
    margin: 0 35px 0 0;
 }

 #menu li a {
    color: #3B3B3B;
    text-decoration: none;
     justify-content:space-around;
}

#menu li a:hover{

    color: #a5a6a7;
}

/*
.menuPrincipal:hover {
    text-decoration:underline;
}
*/

#logo {
    float: left;
    margin: 5PX 10px;



/*estilo del Body*/


}
.carousel-inner img {

   width: 100%;
   max-height: 500px;
}

.carousel-inner{
height: 500px;

}

  #titulo1 {
    margin: 1rem auto;
    width:100%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
}

.contenedor {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


}
.contenedor img{
  width: 300px;

}
.elemento {
    margin: 30px;
}

.nombreArticulo{
    font-size: 25px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.botoncomprar {
    text-align: center;
    margin: auto; display: block;
    padding: 12px;
    color: #616E6E;
    background-color:#BFDCDA;
    border-radius: 10px;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;

}

.botoncomprar:hover {
    cursor:pointer;
    opacity: 0.8;
}


/* estilos de footer */

footer {
    color: white;
    background-color: rgba(80, 80, 80, 0.6);
    font-family: "Noto Sans JP", sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
}


.centrado p{
  display: flex;
  align-items: center;
}

#icons {
    color: rgb(120, 216, 183);
    margin-right: 10px;
}

footer a {
    color: inherit;
    text-decoration: none;
}

.redes_icons {
    margin-left: 10px;
}
