/* PREGUNTAS FRECUENTES */
/* Acordeón */

body {
  background: rgba(255, 255, 255, 0.5);
  color: #616E6E;
  font-size: 1em;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}


.card-header {
  background-color: #BFDCDA;
  color: #616E6E;
  font-size: 1.3em;
  text-decoration: none;
}

h3.card-title {
  color: #616E6E;
  font-size: 1.3em;
  text-decoration: none;
}

.card-body{
  color: #616E6E;
  font-size: 1.3em;
  background: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 35px;
  border-radius: 10px;
}

button {
  color: #616E6E;
  font-size: 1.3em;
  text-decoration: none;
}
