
.contenedor img{
  width: 300px;
  padding-top: 200px;
  
}
.botoncantidad{

  padding: 12px;
  color: #616E6E;
  background-color:#BFDCDA;
  border-radius: 10px;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;
}
.botoncomprar {
  padding: 12px;
  color: #616E6E;
  background-color:#BFDCDA;
  border-radius: 10px;
  border: none;
  font-family: 'Open Sans Condensed', sans-serif;

}
/*.alineacion{
  display:block;
  margin:auto;
  text-align: center
}
.alineacionTexto{
  width: 200px;
  margin-left: 1200px;
}*/
.contenedor1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}
.alineacionTexto{
  padding: 100px;
  font-family:'Open Sans Condensed', sans-serif;
}

